@import url('https://fonts.googleapis.com/css?family=Lobster%7CRaleway&display=swap');
/* global */
.container-fluid{
    padding: 0;
    margin: 0;
}
#our_story, #review {
    min-height: 600px;
}

.wrap{
    /* min-height: 100vh; */
}

/* nav section */

.nav li a:hover{
    background-color: transparent;
}
.navbar-default{
    border-color:transparent;
    background-color: transparent;
    /* z-index: -10; */
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus{
    color: #fff;
    background-color:rgba(17,17,17.5);
}
.navbar-default.navbar-nav>li>a{
    color:#fcfcfc;
    text-shadow: 1pc 1xp 2px #0a0a0a;
}
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li:focus{
    color: #f8512f;
    background-color: rgba(17,17,17,.2);
}
nav.navbar{
    position: absolute;
    top:100;
    right:0;
    left:0;
    z-index: 20;
}
.navbar-brand>img{
    margin-top:  -7px;
}

/* caarosel section */
.carousel{
    margin-bottom: 60px;
}
.carousel-caption{
    z-index: 10;
    padding-bottom: 60PX;
}
.carousel-inner .carousel-item{
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
}
.main_img{
    background-image:url('../img/wood-2.jpg');
}
.main_img2{
    background-image:url('../img/farm-2.jpg');
}
.btn-primary{
    color: #fff;
    background-color: #f8515f;
    border-color: transparent;
}
.btn-primary:hover{
    background-color: #d34336;
    border-color: transparent;
}
.carousel-caption p{
    color: #f7f7f7;
    font-size:16px;
}
.wood{
    background-image: url('../img/wood-2.jpg');
    height: 100%;
}
.logo_size{
   max-height: 350px;
   margin-left: 475px;
}
.logo2{
    max-height: 350px;
    width: 100%;
}

/* our story */
#our_story .row{
    margin-top: 30px;

}
#our_story h1{
    font-family: 'Lobster', cursive;
    color:#f8512f;
    font-size: 6em;
    text-shadow: 1px 1px 5px #0a0a0a;
}
#our_story h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2em;
    margin-top: 0;
}
#our_story p{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
.story_year{
    font-family: 'Playfair display', sans-serif;
    font-size: 200px;
    font-weight: 700px;
    z-index: -1;
    position: absolute;
    color: rgba(149,147,147,.2)
}

/* end our story */

/* review */
#review {
    background-image: url('../img/food_review.jpg');
    background-size: cover;
    background-attachment: fixed;

}

#review .center{
    margin: 0 auto;
    float: none;
    background-color:rgba(20,20,20,6);
    padding: 10px;
    margin-top: 145px;
    border-radius: 5px;

}

#review h1{

    font-family: 'Lobster', cursive;
    font-size: 5em;
    color:#f8512f;
    text-shadow: 1px 1px 5px #0a0a0a;
}
#review p{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 2em;
    text-shadow: 1px, 1px, 5px #0a0a0a;

}
/* end review */
#menu {
    background-image: url('../img/black_linen.png');
    background-size: cover;
    background-attachment: fixed;
    padding-top: 40px;
    padding-bottom: 70px;
    /* background-color: #fff; */
}
#menu h1{
    color:#fff;
    font-family: 'Lobster', cursive;
    font-size: 6em;
    text-shadow: 1px 1px 5px #0a0a0a;
}

#menu h3 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2em;
}
#menu a {
    color: #f8512f;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;

}

#menu p{
    text-align: justify;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;

}

#menu .nav li a:hover{
    background-color: rgba(255,255,255,.1);
    border-color: transparent;

}
.food {
    background-color: #ffffff;
    /* padding: 20px 0px; */
    padding-top: 20px;
    padding-bottom: 20px;
}
#menu .nav-justified li a{
    margin-bottom: -5px;

}
#menu .nav-tabs li a{
    border:none;
}
/* contact */
.contact_form{
    background-color: #ff6633;
    color: #fff;
    border: 1px solid #ffffff;
}
.contact_form{
    padding: 5% 5%;

}
.contact_form span{
    color: #fff;

}
form span::after{
    content:'*';

}
#contact{
    background-color: #f8512f;

}
#contact h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color:#fff;
    font-size: 4em;

}
#contact p{
    font-family: 'Raleway',sans-serif;
    font-weight:300;
    font-size: 1em;
}
cocntact_fine_print{
    font-size: 12px;
    text-align:center;
}
.contact_bottom{
    margin-top: 50PX;
    margin-bottom: 25px;
}
@media (max-width: 768px){
    .story_year{
        font-size: 160px;
    }
}