.carousel{
    margin-bottom: 60px;
}
.carousel-caption{
    z-index: 10;
    padding-bottom: 60PX;
}
.carousel-inner .item{
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position; center;
}
.main_img{
    background-image:url('../img/wood-2.jpg');

}
.main_img2{
    background-image:('...img/restuarante-2')
}